<html>
<head><title>Login form</title><head>
<body>
  <form id="login_form">
    
    Host:<input type="TEXT" id="hostname" name="hostname">
    Port:<input type="TEXT" id="portnum" name="portnum">
    Database Name:<input type="TEXT" id="dbname" name="dbname">
    DB UserName:<input type="TEXT" id="dbuser" name="dbuser">  
    DB Password:<input type="TEXT" id="dbpwd" name="dbpwd"> 
    <button type="submit" id="login" name="login" value="Login">Login</button>
    <button type="reset" id="rest" name="rest" value="Reset">Reset</button>
  </form>
  <script>
  
  </script>
</body>


</html>
