<!DOCTYPE html>
{% load slicetags %}

<html>
  <head>
    <title>Mongo-Slice</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!--/bootstrap-->
    <!--font awsome-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--/font awsome-->
    <!--style-->
    <link href="/static/css/flat-ui.min.css" rel="stylesheet">
    <link href="/static/css/demo.css" rel="stylesheet">
    <link href="/static/css/tree_view.css" rel='stylesheet'>
    <link href="/static/css/m-style.css" rel='stylesheet'>
    <!--/style-->
  </head>
  <body>
    <!--wrapper-->
    <article class='wire_robo'>
      <!--top row-->
      <section class='top-row'>
        <div class="stop_play col-md-2">
          <a href="#" title="Debug"><span class="fui-play"></span></a>
          <a href="#" title="stop debug" class="stop-debug"><i class="fa fa-square"></i></a>
        </div>
        <div class="home-page-btn col-md-10">
          <a href="#fakelink" class="btn btn-block btn-lg btn-danger">
          <span class="fui-home"></span>
          Return to home
          </a>
        </div>
        <div class="clearfix"></div>
      </section>
      <!--/top row-->
      <!--below part-->
      <section class="body-row">
        <!--folder tree-->
        <section class='col-md-3 tree-div'>
          <ul class="treeview">
          <li>
            <i class="fa fa-database"></i>{{db}}
            <ul>
            <li>
            <i class="fa fa-folder"></i>Collections
            <ul>
            {% for col in collections %}
              <li><a href="/info/{{col}}"><i class="fa fa-table"></i>{{col}}</a></li>
              {% endfor %}
          
            </ul>
            </li>
            </ul>
          </li>
              </ul>
         
        </section>
        <!--/folder tree-->
        <!--content div-->
        <section class='content-div-robo col-md-offset-3 col-md-9'>
  <!--row above sublime editor-->
  <div class="row mt connect-db-div">
    <span><i class="fa fa-user"></i>User</span>
    <span><i class="fa fa-desktop"></i>Lorem ispum is a dummy text</span>
    <span><i class="fa fa-database"></i>Lorem ispum</span>
  </div>
  <!--/row above sublime editor-->
  <!--sublime editor-->
  <div class="row mt sublime-div">
    <textarea class="form-control" rows="2" placeholder="paste your command here"></textarea>
  </div>
  <!--/sublime editor-->
  <!--result div-->
  <div class="result-div-tree">
    <div class="col-md-12 tree-view-div">
      <div class="row mt icons">
        <span><i class="fa fa-table"></i>Events</span>
        <span><i class="fa fa-clock-o"></i>Clock</span>
        <span class="pagenation"><a href="#"><i class="fa fa-caret-left"></i></a>2 of 10<a href="#"><i class="fa fa-caret-right"></i></a></span>
      </div>
      <!--tree table div-->
      <div class="row mt head-tree-result-div col-md-12">
        <span class="col-md-4">Key</span>
        <span class='value_type'>Type</span>
        <span class='value_type'>Value</span>
      </div>
      <div class="row mt tree-table-div">
        <ul class="treeview">
        {% for doc in documents %}
        <li>
          <span class='col-md-4'><i class="fa fa-database"></i>{{ doc|mongo_id }}</span>
          <span class='value_type'>x</span>
          <span class='value_type'>y</span>
          <div class="clearfix"></div>
          <ul>
          {% for key, value in doc.items %}
            <li>
              <span class='col-md-4'>{{ key }}</span>
              <span class='value_type'>{{ value }}</span>
              <span class='value_type'>{{ value }}</span>
              <div class="clearfix"></div>
            </li>
            {% endfor %}
            <!-- <li>
              <span class='col-md-4'>subitem 2</span>
              <span class='value_type'>subitem x</span>
              <span class='value_type'>subitem y</span>
              <div class="clearfix"></div>
            </li> -->
          </ul>
        </li>
        {% endfor %}
        
         </ul>
      </div>
      <!--/tree table div-->
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="result-div-error">
  This is to display error message
      <div id="display1">
      {% if col %}
      <b>Documents under {{name}} - {{count}}</b><br><br>{% endif %}
      {% for doc in documents %}
      <p>{{doc}}</p>
      {% endfor %}
      </div>
  </div>
  <!--/result div-->
</section>
        <!--/content div-->
      </section>
      <!--/below part-->
    </article>
    <!--/wrapper-->
    <!--script-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/js/flat-ui.min.js"></script>
    <script src="/static/js/application.js"></script>
    <!--tree view-->
    <script src="/static/js/jquery.treeView.js"></script>
    <!--/tree view-->
    <script>
      $('.treeview').treeView();
    </script>
    <!--/script-->
  </body>
</html>